:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board_container {
  width: min(100%, 1080px);
  border-radius: 12px;
  height: 90dvh;
  margin-inline: auto;
  border: 4px dotted hsl(217, 16%, 45%);
  margin-top: 2rem;
  overflow-y: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.grid_container {
  display: grid;
  margin-left: 1.3rem;
  grid-template-columns: repeat(3, auto);
}

.reset,
.leave {
  background-color: rgb(24, 188, 156);
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.3rem;
  color: #fff;
  font-weight: bold;
  border: none;
  z-index: 4;
}

.reset:hover,
.leave:hover {
  cursor: pointer;
}

.leave {
  background-color: #ee6677;
  margin-left: 1rem;
}

@media screen and (max-width: 400px) {
  .grid_container {
    display: grid;
    margin-right: 1.6rem;
    grid-template-columns: repeat(3, auto);
  }
}
.grid_item {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee6677;
  font-weight: bold;
  border: 3px solid #969fa8;
  font-size: 3rem;
  background-color: transparent;
}
.green {
  color: rgb(24, 188, 156);
}
.grid_item:hover {
  cursor: pointer;
}

.grid_item:first-child,
.grid_item:nth-child(2),
.grid_item:nth-child(3) {
  border-top: none;
}

.grid_item:nth-child(3n + 1) {
  border-left: none;
}

.grid_item:nth-child(3n + 3) {
  border-right: none;
}

.grid_item:last-child,
.grid_item:nth-child(7),
.grid_item:nth-child(8) {
  border-bottom: none;
}
