.container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #969fa8;
}
.playing {
  border-bottom: 3px solid #969fa8;
}
.scoreCard {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userName {
  font-size: 1.2rem;
  text-transform: capitalize;
  /* margin-right: 2rem; */
}
.symbol {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
